body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img, input, from
{
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}
a
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}
.portfolio_gallery
{
    width: 1000px;
    height: 402px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}
:focus
{
    outline: none;
}
.showcase
{
    position: relative;
}
.showcase a.controls
{
    position: absolute;
    padding: 13px 0px 0px 10px;
    z-index: 100;
}
.showcase a.controls
{
    position: absolute;
    padding: 0px 0px 0px 10px;
}
.showcase a.previous
{
    padding-bottom: 4px;
    left: 210px;
}
.showcase a
{
    color: #676767;
    font-size: 11px;
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 0;
}
.showcase a:hover
{
    color: #676767;
    font-size: 11px;
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.showcase ul li
{
    width: 771px;
    height: 404px;
    float: left;
    list-style-type: none;
}
.showcase ul li p
{
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 0 0 2px 0;
}
.showcase ul li a
{
    display: block;
    border: 0;
    text-decoration: none;
}
.showcase li a img
{
    width: 100%;
    border: 0;
}
.showcase#horizontal
{
    width: 1000px;
}
.showcase#horizontal a.controls
{
    top: 100px;
    margin: 0px;
    display:none;
}
.showcase#horizontal a.controls img
{
    width: 23px;
    height: 63px;
}
.showcase#horizontal a.next
{
    right: 228px;
    padding-top: 4px;
}
.showcase#horizontal ul
{
    position: relative;
    margin: 0;
    padding: 0;
    height: 405px;
}
