body
{
    margin: 0;
}
.header
{
    height: 94px;
    width: 1250px;
    margin: 0 auto; padding:5px 0;
}
.txt
{
    border-top: none;
    border-bottom: solid 1px #BFBFBD;
    border-right: none;
    border-left: none;
    font-family: 'Carrois Gothic' , sans-serif;
    font-size: 13px;
    color: #939393;
    margin-bottom: 4px;
}
.lnkforget
{
    font-family: 'Carrois Gothic' , sans-serif;
    color: #5D97BD;
    font-size: 12px;
    margin-left: 135px;
}
.homelink
{
    color: #737373;
    font-family: 'Didact Gothic' ,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none;
}
.footer
{
    background-color: #333;
    height: 42px;
    clear: both;
}
.divbottomleft
{
    font-family: 'Didact Gothic' , sans-serif;
    float: left;
    width: 530px;
    color: #fff;
    font-size: 13px;
    line-height: 40px;
}
.divbottomleft a
{
    font-family: 'Didact Gothic' , sans-serif;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    opacity: 0.76;
    margin: 0 7px;
}
.divbottomright
{
    font-family: 'Didact Gothic' , sans-serif;
    color: #fff;
    font-size: 12px;
    opacity: 0.1em;
    text-decoration: none;
    float: right;
    width: 470px;
    line-height: 13px;
}
.divhead
{
    background-color: #092646;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-family: 'Didact Gothic' ,sans-serif;
    height: 30px;
    line-height: 28px;
    padding-left: 5px;
    font-size: 14px;
}
.divsub
{
    background-color: #F5F5F3;
    font-family: 'Didact Gothic' ,sans-serif;
    padding: 4px;
}
.divsub ul
{
    padding-left: 5px;
    list-style: none;
    margin: 2px 0;
}
.divsub ul li
{
    border-bottom: solid 1px #bfbfbd;
    padding: 3px 0;
}
.divsub ul li a
{
    text-decoration: none;
    color: #727272;
    font-size: 13px;
}
.divinfo
{
    color: #737373;
    font-size: 12px;
    font-family: 'Carrois Gothic' ,sans-serif;
    padding: 4px;
}
.divinfo a
{
    color: #737373;
    font-size: 12px;
    font-family: 'Carrois Gothic' ,sans-serif;
    text-decoration: none;
}
.divtop
{
    border-bottom: 1px solid #BFBFBD;
    font-weight: bold;
    height: 25px;
    line-height: 24px;
    padding-left: 5px;
}
.divtop a
{
    color: #092646;
    text-decoration: none;
    font-size: 14px;
    padding-left: 5px 2px;
}
.divmid
{
    height: 23px;
    line-height: 23px;
    padding-left: 10px;
}
.divmid a
{
    color: #737373;
    text-decoration: none;
    font-size: 13px;
    padding-left: 5px 2px;
    padding-left: 5px;
}
.divname
{
    text-align: center;
    height: 25px;
    font-family: 'Didact Gothic' ,sans-serif;
    font-size: 14px;
}
.divblock
{
    height:220px;
    padding:5px;
    border: solid 1px #bfbfbd;
    border-radius: 3px;
    box-shadow: 0 0 1px #bfbfbd;
}
.divblock:hover
{
    box-shadow: 0 0 4px #bfbfbd;
}
.normallink1
{
    background-color: #092646;
    color: #fff;
    font-size: 13px;
    margin: 1px;
    padding: 6px 5px;
    font-family: 'Didact Gothic' ,sans-serif;
}
.normallink
{
    background-color: #bfbfbd;
    color: #000;
    font-size: 13px;
    margin: 1px;
    padding: 6px 5px;
    text-decoration: none;
    font-family: 'Didact Gothic' ,sans-serif;
}
.contnt p
{
    font-family: 'Carrois Gothic' ,sans-serif;
    font-size: 13px;
    color: #101010;
}
.contnt
{
    font-family: 'Carrois Gothic' ,sans-serif;
    font-size: 13px;
    color: #101010;
}
.txtfield
{
    font-family: 'Carrois Gothic' ,sans-serif;
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #DBDBDB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 4px 0 rgba(176, 199, 221, 0.5) inset;
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    padding: 8px 11px;
    text-shadow: 1px 0 1px #FFFFFF;
    transition: all 0.4s linear 0s;
    width: 350px;
}
.txtfield:focus
{
    border-color: #99B7D3;
    box-shadow: 0 1px 4px 0 rgba(176, 199, 221, 0.5) inset, 0 0 9px 0 #BAD3EB;
    color: #000000;
}
.btn
{
    font-family: Tahoma;
    font-weight: bold;
    color: #fff;
    font-size: 13px;
    background-color: #092646;
    border: none;
    padding: 4px 16px;
    cursor:pointer;
}
.lnklogin
{
    font-family: 'Didact Gothic' ,sans-serif;
    font-size:15px;
    color:#737373;
}
.lnklogin a
{
    font-family: 'Didact Gothic' ,sans-serif;
    font-size:14px;
    color:#CC0000;
    text-decoration:none;
}